body{
    background-image: url(Resources/COVID-19.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#nav{
    display: flex;
    flex-direction: row;
}

#nav_img{
    margin: 50px;
}

.name{
    margin: 50px;
    font-size: larger;
    font-weight: bold;
    font-variant: normal;
    font-family: Arial, Helvetica, sans-serif;
}